.vertical-menu {
  background-color: var(--theme-ui-background-color);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.vertical-menu-button {
  border: none;
  color: white;
  display: flex;
  height: 100%;
  align-items: center;
  background-color: var(--theme-ui-background-color);
  font-size: 14px;
}

.vertical-menu-children {
  position: absolute;
  white-space: nowrap;
  background-color: var(--theme-ui-background-color);
  z-index: 2000;
  opacity: 1;
  outline-color: var(--theme-ui-highlight-color);
  outline-width: 2px;
  outline-style: solid;
}

.vertical-menu-children * {
  padding: 4px 8px 4px 8px;
}

.vertical-menu-children *:hover {
  background-color: var(--theme-ui-highlight-color);
}
