.navbar-div {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 54px;
  border-bottom: 2px var(--theme-ui-highlight-color) solid;
  background-color: var(--theme-ui-background-color);
}
