.SideBarDiv {
  width: 15%;
  height: 100%;
  resize: horizontal;
  overflow: auto;
  background-color: var(--theme-ui-background-color);
  color: var(--theme-ui-font-color);
}

/* .SideBarWidget {
} */
