* {
  margin: 0;
  padding: 0;
  font-family: Roboto Mono;
  --theme-diagram-background-color: #252525;
  --theme-node-background-color: rgb(146, 146, 146);
  --theme-node-title-color: rgb(122, 122, 122);
  --theme-node-border-radius: 10px;
  --theme-node-title-radius: 10px;
}

.window {
  width: 100vw;
  height: 100vh;
}

.app-window {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}

.resize-bar {
  opacity: 50;
  width: 10px;
  cursor: col-resize;
  background-color: rgb(71, 71, 71);
}

.resize-bar:hover {
  opacity: 100;
  background-color: black;
}

#application {
  height: 100%;
  overflow: hidden;
}
