.diagram-node {
  border: solid 2px rgb(51, 51, 51);
  background-color: rgb(146, 146, 146);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.diagram-node-body {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.diagram-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.diagram-outputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.diagram-labeled-port {
  display: flex;
  flex-direction: row;
}

.diagram-node-port {
  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 4px;
  background-color: var(--port-color, rgb(83, 83, 83));
  cursor: pointer;
}

.diagram-node-port:hover {
  background-color: var(--hover-color, rgb(0, 0, 0));
}
